cores/cores.json
[
    {
        "id": "7a952aea925940d7",
        "type": "tab",
        "label": "coresR",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6ff9e9b6e20bd98c",
        "type": "cpu",
        "z": "7a952aea925940d7",
        "name": "Core Usage",
        "msgCore": false,
        "msgOverall": false,
        "msgArray": true,
        "msgTemp": false,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "0f9c84cb71de10d4"
            ]
        ]
    },
    {
        "id": "a6b67796bafa1a7d",
        "type": "inject",
        "z": "7a952aea925940d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "6ff9e9b6e20bd98c",
                "4a0d7963bb9d2fdf"
            ]
        ]
    },
    {
        "id": "7ccdd49770482e53",
        "type": "debug",
        "z": "7a952aea925940d7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "69d45ad185ac7aa8",
        "type": "debug",
        "z": "7a952aea925940d7",
        "name": "structData",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a0d7963bb9d2fdf",
        "type": "cpu",
        "z": "7a952aea925940d7",
        "name": "CPU Temperature",
        "msgCore": false,
        "msgOverall": false,
        "msgArray": false,
        "msgTemp": true,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "7ccdd49770482e53",
                "d273a2a07b466eac"
            ]
        ]
    },
    {
        "id": "d273a2a07b466eac",
        "type": "ui_gauge",
        "z": "7a952aea925940d7",
        "name": "CPU Temperature",
        "group": "dd70abe0.14cb38",
        "order": 0,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Teperature ºC",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "0f9c84cb71de10d4",
        "type": "function",
        "z": "7a952aea925940d7",
        "name": "",
        "func": "msg.payload = {\n    corespd1:msg.payload[0].speed,\n    corespd2:msg.payload[1].speed,\n    corespd3:msg.payload[2].speed,\n    corespd4:msg.payload[3].speed\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 80,
        "wires": [
            [
                "2433722b4c61212e",
                "e4c96ac991d33d82",
                "8b9c89a871a3b2a6",
                "622312a6b7f74362"
            ]
        ]
    },
    {
        "id": "2433722b4c61212e",
        "type": "ui_gauge",
        "z": "7a952aea925940d7",
        "name": "CPU MHz 1",
        "group": "dd70abe0.14cb38",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Core 1 Usage Mhz",
        "label": "units",
        "format": "{{msg.payload.corespd1}}",
        "min": 0,
        "max": "2400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "e4c96ac991d33d82",
        "type": "ui_gauge",
        "z": "7a952aea925940d7",
        "name": "CPU MHz 2",
        "group": "dd70abe0.14cb38",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Core 1 Usage Mhz",
        "label": "units",
        "format": "{{msg.payload.corespd2}}",
        "min": 0,
        "max": "2400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "8b9c89a871a3b2a6",
        "type": "ui_gauge",
        "z": "7a952aea925940d7",
        "name": "CPU MHz 3",
        "group": "dd70abe0.14cb38",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Core 3 Usage Mhz",
        "label": "units",
        "format": "{{msg.payload.corespd3}}",
        "min": 0,
        "max": "2400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "622312a6b7f74362",
        "type": "ui_gauge",
        "z": "7a952aea925940d7",
        "name": "CPU MHz 4",
        "group": "dd70abe0.14cb38",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Core 4 Usage Mhz",
        "label": "units",
        "format": "{{msg.payload.corespd4}}",
        "min": 0,
        "max": "2400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "7e82e808d335eed8",
        "type": "cpu",
        "z": "7a952aea925940d7",
        "name": "Core Usage",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "69d45ad185ac7aa8",
                "d93f55d404b6d9c1"
            ]
        ]
    },
    {
        "id": "940e5aeb0d3af2e6",
        "type": "inject",
        "z": "7a952aea925940d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "7e82e808d335eed8"
            ]
        ]
    },
    {
        "id": "d93f55d404b6d9c1",
        "type": "ui_chart",
        "z": "7a952aea925940d7",
        "name": "",
        "group": "dd70abe0.14cb38",
        "order": 5,
        "width": "6",
        "height": "6",
        "label": "Uso en el core",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 540,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "dd70abe0.14cb38",
        "type": "ui_group",
        "name": "OS",
        "tab": "6d54a11.6b2c0e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6d54a11.6b2c0e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]